
.signup-page{
    background-color: #0078D7;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 1024px;
    align-items: center;
    text-align: center;
  
    &__welcome{
        color : white;
        position: absolute;
        left: 140px;
        top: 300px;

        h1{
            font-size: 64px;
            line-height: 75px;
        }
        h5{
            font-size: 30px;
            line-height: 35px;
        }
        button{
            background: none;
            border-radius: 5px;
            width: 285.94px;
            height: 68.73px;
            border: solid white;
            border-radius: 100px;
            color: white;
            font-size: 20px;
        }
    }

    &__created-account{
        position: absolute;
        width: 557px;
        height: 839px;
        left: 750px;
        top: 100px;
        background: #FFFFFF;
        box-shadow: 10px 10px 25px #1F6AA6;
        border-radius: 35px;
       
        h3{
            font-size: 36px;
            color: #0078D7;
        }
        &__icon{
            width: 264.98px;
            height: 70.29px;
            left: 929px;
            top: 281px;
            justify-content: space-evenly;
            color: black;
        }

        &__input{
            width: 430px;
            height: 228.54px;
            margin: 10px 53px;
            p{
                font-size: 18px;
                color: #C4C4C4;
            }
            &__input-txt{
                padding: 10px;
                margin: 20px;
                width: 430px;
                height: 71.16px;
                border: 2px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 10px;
                color:  #C4C4C4;
            }
            &__input-button{
                margin: 20px;
                width: 285.94px;
                height: 68.73px;
                background: #2A75E6;
                border-radius: 100px;
                color: white;
                font-size: 20px;
            }
        }
    }


}